###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> phpstorm ###
/.idea/
###< phpstorm ###


###> docker ###
/docker/.env
/docker/.docker-sync/*
!/docker/.docker-sync/.gitkeep
/docker/docker-compose.override.yaml
###< docker ###
###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
