version: '3.7'

services:
    php:
        volumes:
            - '..:/opt/app'
        build:
            context: ../
            dockerfile: docker/services/php/php.Dockerfile

    nginx:
        build:
            context: ../
            dockerfile: docker/services/nginx/nginx.Dockerfile
        volumes:
            - '..:/opt/app'
        ports:
            - "8129:80"

    db:
        ports:
            - 3036:3306
