version: '3.7'

services:
    php:
        container_name: testing_101_php
        volumes:
            - '..:/opt/app'
        build:
            context: ../
            dockerfile: docker/services/php/php.Dockerfile

    nginx:
        container_name: testing_101_nginx
        build:
            context: ../
            dockerfile: docker/services/nginx/nginx.Dockerfile
        volumes:
            - '..:/opt/app'
        ports:
            - "8129:80"

    db:
        container_name: testing_101_db
        hostname: "testing-101"
        ports:
            - 3036:3306
